body{
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.card {
    height: 500px; /* Your height here */
    overflow: hidden;
}

.card-image {
    height: 250px; /* Your height here */
    overflow: hidden;
}